{% extends 'base.html' %}

{% block head_title %} Amazing {% endblock head_title %}

{% block content %}
Welcome to TweetMe2

<div id="tweets">
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById('tweets') // get an html element
    const xhr = new XMLHttpRequest() // xhr = SomeClass()
    const method = 'GET' // 'POST'
    const url = '/tweets'
    const responseType = 'json'

    function handleDidLike(tweet_id, currentCount){
        console.log(tweet_id, currentCount)
        return
    }

    function likeBtn(tweet){
        return "<button class='btn btn-primary btn-sm' onclick=handleDidLike(" +
        tweet.id + "," + tweet.likes + ")>" + tweet.likes + " Like Me </button>"
    }

    function formatTweetElement(tweet){
        var formattedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id
         + "'><p>" + tweet.content +
         "</p><div class='btn-group'>" + likeBtn(tweet) + "</div></div>"
        return formattedTweet
    }
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalVarStr = ""
        var i;
        for (i=0; i<listedItems.length; i++){
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalVarStr += currentItem
        }
        tweetsElement.innerHTML = finalVarStr
        // console.log(listedItems)
    }
    xhr.send()
</script>

{% endblock content %}