{% extends 'base.html' %}

{% block head_title %} Amazing {% endblock head_title %}

{% block content %}
Welcome to TweetMe2

<div id="tweets">
    Loading...
</div>

<script>
    const tweetsElement = document.getElementById('tweets') // get an html element
    const xhr = new XMLHttpRequest() // xhr = SomeClass()
    const method = 'GET' // 'POST'
    const url = '/tweets'
    const responseType = 'json'

    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalVarStr = ""
        var i;
        for (i=0; i<listedItems.length; i++){
            console.log(i)
            console.log(listedItems[i])
            var currentItem = "<div class='mb-4'><h2>" + listedItems[i].id +"</h2>" + "<p>" + listedItems[i].content +"</p></div>"
            finalVarStr += currentItem
        }
        tweetsElement.innerHTML = finalVarStr
        // console.log(listedItems)
    }
    xhr.send()
</script>

{% endblock content %}