{% extends 'base.html' %}

{% block head_title %} 
This is Amazing Block Title!!! =^_^=
{% endblock %}

{% block content %}
Welcome to TweetMe2

<div id = 'tweets'>
    Loading.... Please wait. <br> Hm... You might enjoy some tea :)
</div>

<script>
    const tweetsElement = document.getElementById('tweets') // We will get html element
    // tweetsElement.innerHTML = "Loading.... Please wait. <br> Hm... You might enjoy some tea :)" // we will set html in that element
    
    // var el1 = "<h2> Hi there Monday </h2>"
    // var el2 = "<h2> Hi there Lundi </h2>"
    // var el3 = "<h2> Hi there Lunedi </h2>"
    // tweetsElement.innerHTML = el1 + el2 + el3

    const xhr = new XMLHttpRequest() // xhr = SomeClass()
    const method = 'GET' // POST
    const url = "/tweets"    
    const responseType = "json"

    function formatTweetElement(tweet) {
        var formattedTweet = "<div class='mb-4 tweet' id='tweet-" + tweet.id + "'>" + tweet.content + "</div>"
        return formattedTweet
    }
    
    xhr.responseType = responseType
    xhr.open(method, url)
    xhr.onload = function() {
        // console.log(xhr.response)
        const serverResponse = xhr.response
        const listedItems = serverResponse.response
        var finalTweetStr = ""
        var i; 
        for (i=0; i<listedItems.length; i++) {
            // console.log(i)
            // console.log(listedItems[i]) 
            var tweetObj = listedItems[i]
            var currentItem = formatTweetElement(tweetObj)
            finalTweetStr += currentItem
        }
        tweetsElement.innerHTML = finalTweetStr
        // console.log(listedItems)
    }
    xhr.send()
</script>

{% endblock content %}